.homeContainer {
  padding: 0 2rem;
  border-top:10px groove pink;
  width: 80%;
  margin: 0 auto;
}

.main {
  min-height: 100vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* icon grid */
.quickTipBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 100px;
}

.quickTipBox > article > a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
  min-height: 400px;
}

.quickTipBox > article > a > p:nth-child(2) {
  font-size: 20px;
  font-family: serif;
  font-weight: bold;
  
  text-align: center;
  margin: 0 20px;
}

.quickTipBox > article > p:nth-child(3) {
  font-size: 12px;
  color: rgb(100, 100, 100);
  padding: 10px 50px;
  line-height: 20px;
  text-indent: 15px;
}

.quickTipBox svg {
  height:100px;
  width:100px;
  margin: 50px;
  color: rebeccapurple;
}

/* shared 1 & 2 */
.whoThey, .ourClients {
  padding:25px;
  border: 6px;
  margin: 0 25px;
  width: 75%;
}

.whoThey li, .ourClients li {
  padding: 30px;
  margin: 20px auto;
  text-decoration: none;
  list-style-type: none;
  background: aliceblue;
  font-size: 2vmin;
  border-radius: 30px;
  border: 5px inset cornflowerblue;
}

/* section 1 */
.whoThey {
  margin-right: auto;
}

.whoThey li {
  border-bottom-left-radius: 0;
}



/* section 2 */
.ourClients > h3 {
  text-align: right;
}

.ourClients {
  margin-left: auto;
}

.ourClients li {
  border-bottom-right-radius: 0;
}

/* section 3 */
.aboutUs {
  width: 100%;
  background-color: skyblue;
}

.aboutUs h2 {
  font-size: 40px;
  text-align: left;
  padding: 50px 100px 0;
}

.aboutUs > article {
  padding: 20px 110px;
}

.aboutUs h4 {
  font-size: 20px;
}

/* 3 sub sections */
.beingDiff {
  font-size: 1.5rem;
}

.anotherOne {
  font-size: .7rem;
}


/* footer */
.foot {
  text-align: center;
  margin-top:100px;
  padding: 10px 0;
  background-color: coral;
}