.homeContainer {
  margin: 20px auto;
  padding: 0 2rem;
  border-top:10px groove blanchedalmond;
  width: 90%;
}

.main {
  min-height: 100vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* icon grid */
.quickTipBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 70%;
  margin: 20px auto;
}

.quickTipBox > a {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: top;
  border: 5px groove rgb(211, 107, 211);
  padding: 0 10px;
  margin: 30px;
  min-height: 300px;
  height: 90%;
}

.cardTitle {
  font-size: 2.5vmin;
  font-family: serif;
  font-weight: bold;
  
  text-align: center;
  margin: 0 10px;
}

.cardBody {
  font-size: 1.5vmin;
  color: rgb(100, 100, 100);
  margin: 20px 50px;
  line-height: 20px;
  text-indent: 15px;
  /* height: 100%; */
}

.quickTipBox svg {
  height:80px;
  width:80px;
  margin: 20px;
  color: rebeccapurple;
  margin-top: 10px;
  align-self: center;
}

/* shared 1 & 2 */
.whoThey, .ourClients {
  padding:25px;
  border: 6px;
  margin: 0 25px;
  width: 75%;
}

.whoThey li, .ourClients li {
  padding: 30px;
  margin: 20px auto;
  text-decoration: none;
  list-style-type: none;
  background: aliceblue;
  font-size: 2vmin;
  border-radius: 30px;
  border: 5px inset cornflowerblue;
  box-shadow: 10px 10px #454545;
}

/* section 1 */
.whoThey {
  margin-right: auto;
}

.whoThey li {
  border-bottom-left-radius: 0;
}



/* section 2 */
.ourClients > h3 {
  text-align: right;
}

.ourClients {
  margin-left: auto;
}

.ourClients li {
  border-bottom-right-radius: 0;
}

/* section 3 */
.aboutUs {
  width: 100%;
  background-color: skyblue;
}

.aboutUs h2 {
  font-size: 40px;
  text-align: left;
  padding: 50px 100px 0;
}

.aboutUs > article {
  padding: 20px 110px;
}

.aboutUs h4 {
  font-size: 20px;
}

/* 3 sub sections */
.beingDiff {
  font-size: 1.5rem;
}

.anotherOne {
  font-size: .7rem;
}


/* footer */
.foot {
  text-align: center;
  margin-top:100px;
  padding: 10px 0;
  background-color: coral;
}

@media screen and (max-width: 1200px) {
  /* .quickTipBox {
    flex-direction: row;
  }
  .quickTipBox svg {
    height: 50px;
    width: 50px;
  }
  .quickTipBox > a {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  .cardTitle{
    font-size: 10px;
  }
  .cardBody {
    padding: 7px;
  } */

}

@media screen and (max-width: 1100px) {
  .quickTipBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .quickTipBox > a {
    justify-content: center;
    margin: 10px 50px;
  }
}